[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-coverage = "*"
pytest-asyncio = "*"
black = "==19.10b0"
mypy = "*"
pytest-mock = "*"
importlib-metadata = "*"
mock = "*"
isort = "*"
types-setuptools = "*"
types-requests = "*"
types-mock = "*"

[packages]
urwid = "*"
openvario-compman = {editable = true,path = "."}
lxml = "*"
aiohttp = "*"
aiodns = "*"
openvario-shell = "*"
requests = "*"
